@use "base";
@use "../stylesheets/abstracts/" as *;

.container {
  max-width: 1140px;
  margin: 0 auto;

  @include tablet {
    max-width: 720px;
  }

  @include mobile {
    padding: 0 15px;
    max-width: inherit;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100vh;
  object-fit: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    296.82deg,
    #343541 0%,
    #343541 60.61%,
    $background-color 100%
  );
  opacity: 0.7;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .container {
    .content-main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .main-title {
        font-size: 61px;
        @include mobile {
          font-size: 40px;
        }
      }
    }
    h1 {
      width: 480px;
      font-family: Lato-Regular;
      font-weight: 700;
      font-size: 53px;
      line-height: 70px;
      align-items: center;
      color: $primary-color;
      @include mobile {
        width: 315px;
        font-size: 34.5px;
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 20px;
      img {
        width: 100%;
        object-fit: cover;
      }
      button {
        cursor: pointer;
        display: flex;
        gap: 10px;
        background-color: $background-color;
        border: 1px solid #474747;
        padding: 5px;
        p,
        h3 {
          color: $primary-color;
        }

        .button-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .title-button {
            font-size: 22px;
          }
          @include mobile {
            gap: 5px;
            .title-button {
              font-size: 15px;
            }
            p {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

footer {
  height: 100px;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $text-color;
    text-decoration: underline;
  }

  @include mobile {
    font-size: 13px;
  }
}
